<div ng-controller="publicationsCtrl">
    <div class="row">
        <div>Citační síť vytvořená pro publikaci s id: {{ pubIdCitNetwork}}  podle vybrané metriky:
            <h3>
                <span ng-if="typeCitNetwork == 0">Bibliographic coupling</span>
                <span ng-if="typeCitNetwork == 1">Co-citation index</span>
                <span ng-if="typeCitNetwork == 2">Three level co-ocitation index</span>
                <span ng-if="typeCitNetwork == 3">Three level co-ocitation index v2</span>
                <span ng-if="typeCitNetwork == 4">Co-citation Proximity Index</span>
            </h3>
        </div>
        <div class="row">
            <div class="row">
                <div id="circle-searched"></div> Vybraná publikace
            </div>
            <div class="row">
                <div id="circle-relevant"></div> Relevantní publikace
            </div>
        </div>
        <div class="row citation-network">
            <div citation-network-relevant pub-id="pubIdCitNetwork" type="typeCitNetwork"></div>
        </div>
    </div>
</div>
