<div ng-controller="publicationsCtrl">
    
        <div class="row citation-network">
            <div citation-network-venue-show venue="selectedVenue" size="selectedPubsCount"></div>
        </div> 
</div>
