<div ng-controller="publicationsCtrl">
    <div class="row">
        Citační sít
    </div>
    <div class="row panel panel-default">
        <div class="panel-body">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group"> 
                    <label for="perpage">Konference/Časopis</label>
                    <select id="perpage" ng-model="selectedVenue" ng-options="x for x in options.venues">
                    </select>
                </div>
                <div class="form-group"> 
                    <label for="perpage">Počet članku</label>
                    <select id="perpage" ng-model="selectedPubsCount" ng-options="x for x in options.pubsCount">
                    </select>
                </div>                
                <button type="submit" class="btn btn-default" ng-click="showCitationNetwork()">Potvrdit</button>
            </form>
        </div>
    </div>    
</div>
