<div ng-controller="publicationsCtrl">
    <div>Citation network
        <div class="row citation-network">
            <div linear-chart chart-data="publications"></div>
        </div>
    </div>
</div>
