<div ng-controller="publicationsCtrl">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <label for="title">Název</label>
                    <input type="text" id="title" ng-model="searchForm.title" uib-typeahead="pub._source.title for pub in publications | filter:$viewValue | limitTo:8" class="form-control">
                    <label for="author">Author</label>
                    <input type="text" id="author" ng-model="searchForm.authorName">
                    <label for="year">Rok</label>
                    <input id="year" class="form-control" ng-model="searchForm.year" type="number" min="1900" max="2016">    
                    <label for="perpage">Počet na stránce</label>
                    <select id="perpage" ng-model="perPage" ng-options="x for x in options.perPage">
                    </select>
                </div>
                <button type="submit" class="btn btn-default" ng-click="refresh()">Potvrdit</button>
            </form>
        </div>
    </div>

    <div class="row publication-box" ng-repeat="pub in publications">

        <div class="row title"><a href="#publication/{{ pub._id }}">{{ (currentPage-1)*perPage + $index + 1}}) {{ pub._source.title}}</a></div>
        <div class="row year">{{ pub._source.year }}</div>
        <div class="row authors">
            <ul>
                <li ng-repeat="author in pub._source.authors">
                    {{ author.full_name}}
                </li>
            </ul>
        </div>
        <div class="row abstract">
            
        </div>
        <hr>
    </div>
    <uib-pagination ng-change="refresh()" total-items="totalItems" ng-model="currentPage" items-per-page="perPage" max-size="5" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>

</div>
