<div ng-controller="publicationsCtrl">
    <div>Detail Publikace
        <div class="row">
            <div class="row title">
                <a href="publication/{{ pub._id}}">{{$index + 1}}) {{ pub._source.title}}</a></div>
            <div class="row year">{{pub._source.year}}</div>
            <div class="row authors">
                <ul>
                    <li ng-repeat="author in pub._source.authors">
                        {{ author.full_name}}
                    </li>
                </ul>
            </div>
            <uib-tabset active="activeJustified" justified="true">

                <uib-tab index="4">
                    <uib-tab-heading>
                        Abstrakt
                    </uib-tab-heading>
                    <div style="margin-top: 2em">
                        {{ pub._source.abstract}}
                    </div>
                </uib-tab>                        
                <uib-tab index="0">
                    <uib-tab-heading>
                        Autoři <span class='badge'>{{ pub._source.authors.length}}</span>
                    </uib-tab-heading>
                    <div style="margin-top: 2em">
                        <ul>
                            <li ng-repeat="author in pub._source.authors">
                                {{ author.full_name}}
                            </li>
                        </ul>
                    </div>
                </uib-tab>

                <uib-tab index="1">
                    <uib-tab-heading>
                        Citováno v publikaci <span class='badge'>{{ pub._source.citedby.length}}</span>
                    </uib-tab-heading>
                    <div style="margin-top: 2em">
                        <div class="row" ng-repeat="pubCitedBy in pub._source.citedby">
                            <div class="row">
                                <div class="col-md-2">Název</div>
                                <div class="col-md-10">
                                <a href="#publication/{{ pubCitedBy._id}}">{{ pubCitedBy._source.title}}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">Rok</div>
                                <div class="col-md-10">
                                {{ pubCitedBy._source.year}}
                                </div>
                            </div>                                
                            <div class="row">
                                <div class="col-md-2">Autoři</div>
                                <div class="col-md-10">
                                    <ul>
                                        <li ng-repeat="author in pubCitedBy._source.authors">
                                            {{ author.full_name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>                           
                        <hr>
                        </div>
                </uib-tab>
                <uib-tab index="2">
                    <uib-tab-heading>
                        Bibliografické citace <span class='badge'>{{ pub._source.references.length}}</span>
                    </uib-tab-heading>
                    <div style="margin-top: 2em">
                        <uib-accordion>
                            <div ng-repeat="ref in pub._source.references">
                                {{ref.referenced_pub_id}}
                                {{$index + 1}}) 
                                <div class="row">
                                    <div class="col-md-2">Název</div>
                                    <div class="col-md-10">
                                        <span ng-if="ref.referenced_pub_id"><a href="#publication/{{ ref.referenced_pub_id}}">{{ ref.title}}</a></span>
                                        <span ng-if="!ref.referenced_pub_id">{{ ref.title}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">Rok</div>
                                    <div class="col-md-10">{{ ref.year}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">Autoři</div>
                                    <div class="col-md-10">
                                        <ul>
                                            <li ng-repeat="author in ref.authors">
                                                {{ author.full_name}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">Obsah</div>
                                    <div class="col-md-10">{{ ref.content}}</div>
                                </div>                            
                                <div class="row">
                                    <div class="col-md-2">Citační kontext</div>
                                    <div class="col-md-10">
                                        <uib-accordion-group>
                                            <uib-accordion-heading>Zobrazit citační kontext</uib-accordion-heading>

                                            <div ng-repeat="cc in ref.citation_contexts">
                                                <div class="row">
                                                    <div class="col-md-1">{{$index + 1}})</div>
                                                    <div class="col-md-11">
                                                        <div class="row">
                                                            <div class="col-md-1">Sekce</div>
                                                            <div class="col-md-10">{{ cc.section}}</div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-1">Kontext</div>
                                                            <div class="col-md-10">{{ cc.context}}</div>
                                                        </div>                                                
                                                    </div>
                                                </div> 
                                            </div>                             
                                        </uib-accordion-group>    
                                    </div>
                                </div>                                    
                                <hr>
                            </div>
                        </uib-accordion>
                    </div>
                </uib-tab>
                <uib-tab index="5">
                    <uib-tab-heading>
                        Relevantní publikace
                    </uib-tab-heading>
                    <div style="margin-top: 2em">
                        <div class="row">
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <select ng-model="searchRelevantTypesSelected" ng-options="t.id as t.name for t in options.relevantTypesOption">
                                    </select>
                                    <button ng-click="searchRelevantPublications(pub._id, searchRelevantTypesSelected)" type="submit" class="btn btn-default">Vyhledat</button>
                                    <a href="#publication/{{pub._id}}/graph/{{searchRelevantTypesSelected}}">Zobrazit citační síť podle vybrané metriky</a>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="row" ng-if="relevantPublications.length == 0">
                                Žádné výsledky.
                            </div>
                            <div class="row" ng-repeat="relPub in relevantPublications">
                                <div class="relevant-bibccoupling" ng-if="searchRelevantTypesActual == biblicoupling.id">
                                    <div class="row">
                                        <div class="col-md-2">Název</div>
                                        <div class="col-md-10">
                                            <a href="#publication/{{ relPub._id}}">{{ relPub._source.title}}</a>
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-md-2">Stejné bibliografické citace <span class='badge'>{{ relPub._source.bib_coupling_pubs_id.length}}</span></div>
                                        <div class="col-md-10">                                        
                                            <div ng-repeat="ref in relPub._source.references">
                                                <div ng-if="relPub._source.bib_coupling_pubs_id.indexOf($index) != -1">
                                                    <span ng-if="ref.referenced_pub_id"><a href="#publication/{{ ref.referenced_pub_id}}">{{ ref.title}}</a></span>
                                                    <span ng-if="!ref.referenced_pub_id">{{ ref.title}}</span>
                                                    ({{ ref.referenced_pub_relevance}})
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            Ostatní bibliografické citace <span class='badge'>{{ relPub._source.references.length - relPub._source.bib_coupling_pubs_id.length}}
                                            </span></div>
                                        <div class="col-md-10">
                                            <div ng-repeat="ref in relPub._source.references">
                                                <div ng-if="relPub._source.bib_coupling_pubs_id.indexOf($index) == -1">
                                                    <span ng-if="ref.referenced_pub_id"><a href="#publication/{{ ref.referenced_pub_id}}">{{ ref.title}}</a></span>
                                                    <span ng-if="!ref.referenced_pub_id">{{ ref.title}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                 
                                </div>                                 
                                <div class="relevant-coocitationindex" 
                                     ng-if="searchRelevantTypesActual == coocitation.id || searchRelevantTypesActual == coocitation2.id || searchRelevantTypesActual == coocitation3.id">

                                    <div class="row">
                                        <div class="col-md-2">Název</div>
                                        <div class="col-md-10">
                                            <a href="#publication/{{ relPub._id}}">{{ relPub._source.title}}</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">Autoři</div>
                                        <div class="col-md-10">
                                            <ul>
                                                <li ng-repeat="author in relPub._source.authors">
                                                    {{ author.full_name}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>                                    
                                    <div class="row">
                                        <div class="col-md-2">Kocitační index</div>
                                        <div class="col-md-10">
                                            {{ relPub.cocitIndex}}
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="relevant-coocitationindex" ng-if="searchRelevantTypesActual == cpi.id">
                                    <div class="row">
                                        <div class="col-md-2">Název</div>
                                        <div class="col-md-10">
                                            <a href="#publication/{{ relPub._id}}">{{ relPub._source.title}}</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">CPI</div>
                                        <div class="col-md-10">
                                            {{ relPub.cpi}}
                                        </div>
                                    </div>                                    
                                </div>
                                <hr>
                            </div>

                        </div>

                    </div>
                </uib-tab>                        
            </uib-tabset>          
        </div>
    </div>

</div>